pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain_huggingface
sentence-transformers
langchain_google_genai

langchain-community
faiss-cpu
langchain_google_genai
pypdf
langchain 
langchain-pinecone
weaviate-client
langchain_weaviate
wikipedia
youtube_search
langgraph
chromadb
langchain-chroma
langchain_groq
yfinance
duckduckgo_search
langchain-openai



autogen-agentchat
autogen-core
autogen-ext